####################################
# Build & Output
####################################
build/
bin/
target/

####################################
# Node / Frontend
####################################
node_modules/
dist/
.out/
.next/
.vscode/

####################################
# Environment
####################################
.env
.env.*

####################################
# OS / Editor
####################################
.DS_Store
*.tmp
*.bak

####################################
# Java / JVM
####################################
*.class
*.jar
*.war
*.ear

####################################
# IDE (Eclipse / IntelliJ)
####################################
.project
.classpath
.settings/
.metadata/
.loadpath
.idea/
*.iml

####################################
# Logs / DB
####################################
*.log
*.db

####################################
# Local / Generated
####################################
local.properties
src/main/resources/rebel.xml

####################################
# Temporary directories
####################################
tmp/
tmp/**

####################################
# Education / Submission (Custom)
####################################
교육자료/
실습파일 제출물/
SKCT 예제/

####################################
# Private / Local Projects
####################################
my_project/
