/* 

/* 전체 선택자 */
* {
  color: red;
}

/* 태그 선택자 */
p {
  color: blue;
}

/* 아이디 선택자 */
#title {
  color: green;
}

/* 클래스 선택자 */
.yellow {
  color: yellow;
}
.darkgray {
  color: darkgray;
}

/* 기본 속성 선택자 */
a[href] {
  color: darkblue;
  display: block; /* a 태그를 block-level 요소로 지정 */
}
a[target="_blank"] {
  color: blueviolet;
  display: block; /* a 태그를 block-level 요소로 지정*/
}
