* {
  font-family: "Gowun Batang", serif;
}

body {
  padding: 10px;
  background-color: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: white;
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
  border-radius: 10px;
}
.category {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px 0;
  width: 300px;
}

.category p {
  width: 150px;
  font-size: 18px;
  font-weight: bold;
}

input {
  width: 154px;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 10px;
  border: 1px solid gray;
}

select {
  width: 200px;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 10px;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  width: 150px;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
  font-weight: bold;
}
